.container{
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}

.list{
  margin-top: 55px;
  display: grid;
  grid-template-columns: 400px 400px;
  justify-content: center;
}

.item__first{
  background-color: #FFFFFF;
  border: 2px solid #E8E9ED;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.item__second{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #8F75BE;
}

.item__first h2, 
.item__second h2, 
.item__first  p,
.item__second p{
  max-width: 250px;
  margin: 0 auto;
}

.title{
  font-family: Arvo;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

.item__first h2, 
.item__second h2{
  margin-bottom: 25px;
}

.desc{
  font-family: Open Sans;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #9FA3A7;
}

.desc__main{
  margin-top: 83px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #9FA3A7;
  margin-bottom: 20px;
}

.button{
  background-color: transparent;
  border: 3px solid #FFC80A;
  width: 150px;
  border-radius: 40px;
  padding: 17px 8px;
  display: block;
  margin: 75px auto;
}

.desc__main-yellow{
  color:#FFC80A;
}

.button-black{
  color:#212121;
}

.white{
  color: #FFFFFF;
}